* {
  box-sizing: border-box;
}

body {
  font-family: "Source Serif 4", serif;
  margin: 0;
  padding: 0;
}

/*margin applied to main content excluding hero sections*/
.content-margin {
  margin: 2.5em 0.7em;
}

.hero,
.blog-post,
.post-intro,
.view-more,
.current-post,
footer {
  font-size: 20px;
}

/*HEADER*/
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.94em 0.32em;
}

.logo {
  display: flex;
  width: 300px;
  margin-left: 2rem;
  cursor: pointer;
}

.nav-heading {
  font-weight: 700;
}

.logo img {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}
.section-link {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.section-link:hover {
  text-decoration: underline; /*look into how to change 
  this into a transitional line underneath*/
}

/*HERO*/

.hero {
  background-image: url("images/hero-image.png");
  background-size: cover;
  background-position: center;
  color: white;
  padding: 5em 1.5em 0.5em 1.5em;
}

.post-intro {
  margin: 0.6em 0;
  padding: 0;
}

.date {
  font-weight: 400;
}

.hero-heading {
  font-size: 50px;
}

.hero-description {
  line-height: 1.2;
}

/*BLOG POST*/

.blog-post {
  box-shadow: 8px 8px 16px 0px #888888;
  border-radius: 14px;
  max-height: 650px;
}

.hidden {
  display: none;
}

.blog-post:hover {
  box-shadow: 8px 8px 16px 5px #888888;
}

.blog-post-text {
  padding: 0.1em 0.3em;
  margin: 0;
}

.blog-post p {
  margin-top: 0.6em;
}

.blog-post h2 {
  margin: 0;
}

.blog-post img {
  width: 100%;
}

.description {
  color: #505050;
}

.view-more {
  text-align: center;
  cursor: pointer;
  font-weight: 600;
}

.view-more:hover {
  text-decoration: underline;
}

/*FOOTER*/

footer {
  background-color: #202020;
  padding: 3em 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer-text {
  display: inline-block;
  text-align: center;
}

.footer-text h3,
.footer-text p {
  padding: 0;
  margin: 0;
}

.footer-text h3 {
  color: #ececec;
}

.footer-text p {
  color: #d7d7d7;
}

/*BLOG POST PAGE*/

.current-post img {
  width: 100%;
  border-radius: 5px;
}

.current-post p {
  line-height: 1.5;
}

.recent-posts {
  text-align: center;
}

/*ABOUT ME PAGE*/

.about-page-intro {
  display: flex;
  flex-direction: column;
}

.about-page-intro h1 {
  font-size: 50px;
}
.img-div {
  width: 200px;
  height: 200px;
}

.personal-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  object-fit: cover;
}

.intro-text h1,
.intro-text p {
  margin: 0;
}

.about-page-text {
  margin-top: 2.4em;
}

/*MEDIA QUERIES*/

/*Desktop*/
@media (min-width: 1224px) {
  .content-margin {
    margin: 2em 2em;
  }

  .hero {
    padding-top: 12em;
    background-repeat: no-repeat;
    background-size: cover; /* Keeps the image wide */
    background-position: center 20%;
  }

  .hero-text {
    max-width: 70vw;
    cursor: pointer;
  }

  .blog-section {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr; /*this turns the container into 
    3 equal grid columns*/
  }

  /*BLOG POST PAGE*/
  .current-post-text {
    margin: 0.4em 2.5em;
  }

  /*ABOUT PAGE*/
  .about-margin {
    margin: 1em 5em;
  }

  .intro-text {
    display: flex;
  }

  .about-page-intro {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .intro-text {
    flex-direction: column;
    flex: 1;
    margin-left: 50px;
  }

  .img-div {
    max-width: 300px;
    height: auto;
    flex: 0 0 auto;
  }

  .personal-img {
    width: 100%;
    height: auto;
    object-fit: contain;
  }
}

/*Tablet*/
@media (min-width: 768px) and (max-width: 1223px) {
  .about-margin {
    margin: 4em 4em;
  }

  .blog-section {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 0 0.2em;
  }

  /*ABOUT ME PAGE*/
  .about-page-intro {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .intro-text {
    flex: 1;
    margin-left: 50px;
  }
}
