* {
  box-sizing: border-box;
}

body {
  font-family: "Source Serif 4", serif;
  margin: 0;
  padding: 0;
}

.hero,
.blog-post {
  font-size: 25px;
}

/*HEADER*/
nav {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 0.94em 0.32em;
}

.logo {
  display: flex;
  width: 300px;
  margin-left: 2rem;
  cursor: pointer;
}

.nav-heading {
  font-weight: 700;
}

.logo img {
  margin-right: 10px;
}

a {
  text-decoration: none;
  color: black;
}

.nav-links {
  display: flex;
  gap: 2rem;
  margin-right: 4rem;
}
.section-link {
  list-style: none;
  text-transform: uppercase;
  font-weight: 500;
  cursor: pointer;
}

.section-link:hover {
  text-decoration: underline; /*look into how to change 
  this into a transitional line underneath*/
}

/*HERO*/

.hero {
  background-image: url("images/hero-image.png");
  color: white;

  padding: 5em 1.5em 0.5em 1.5em;
}

.hero p,
.hero h1 {
  margin: 0.6em 0;
  padding: 0;
}

.date {
  font-weight: 400;
}

.hero-heading {
  font-size: 50px;
}

.hero-description {
  line-height: 1.5;
}

/*BLOG POST*/

.blog-post p,
.blog-post h2 {
  margin: 15px 0;
  padding: 0;
}
.blog-post {
  margin: 2.5em 1.5em;
}

.blog-post img {
  width: 100%;
}

.view-more {
  text-align: center;
  cursor: pointer;
  font-weight: 600;
  font-size: 25px;
}

.view-more:hover {
  text-decoration: underline;
}
